@import '../../scss/vars.scss';

.markdown {
    color: #34495e;

    p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    img {
        max-width: 100%;
    }

    h1 {
        margin: 0.65rem 0;
        color: #2c3e50;
        font-size: 1.25rem;
    }

    h2 {
        position: relative;
        font-size: 1.375rem;
        margin: 2rem 0 1.1rem;
        max-width: 17.5rem;
        
        &:after {
            content: "#";
            color: $theme-color;
            position: absolute;
            left: -1.15rem;
            top: -0.25rem;
            font-size: 1.65rem;
            font-weight: bold;
        }
    }

    ul {
        margin: 1rem 0;
        padding: 0 2.1875rem;

        li {
            line-height: 1.2rem;
        }
    }

    pre {
        padding: 1rem;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        background-color: #f6f8fa;
        border-radius: 3px;
        margin: 0;
        word-break: normal;
        word-wrap: normal;

        code {
            color: #34495e;
            padding: 0;
            margin: 0;
        }
    }

    blockquote {
        margin: 2em 0;
        padding-left: 0.9475rem;
        border-left: 0.25rem solid $theme-color;
    }

    a {
        color: $theme-color;
        word-break: break-all;
    }

    a:hover {
        border-bottom: 1px solid $theme-color;
    }

    code {
        margin: 0 0.25rem;
        padding: 0.125rem 0.3125rem;
        color: #e96900;
        border-radius: 2px;
        white-space: inherit;
        font-size: 0.8em;
        background-color: #f8f8f8;
        font-family: 'Roboto Mono', Monaco, courier, monospace;
    }

    center {
        margin-bottom: 0.9375rem;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: $small-screen-width) {
    .markdown {
        padding: 0 1.25rem;

        h2 {
            left: 15px;
        }
    }
}