@import '../../scss/vars.scss';

.markdown {
    color: #34495e;

    p {
        font-size: 14px;
        line-height: 1.6;
    }

    img {
        max-width: 100%;
    }

    h1 {
        margin: 0.65em 0;
        color: #2c3e50;
        font-size: 20px;
    }

    h2 {
        position: relative;
        font-size: 22px;
        margin: 1.5em 0 0.8em;
        max-width: 280px;
        
        &:after {
            content: "#";
            color: $theme-color;
            position: absolute;
            left: -0.7em;
            top: -4px;
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    ul {
        margin: 1rem 0;
        padding: 0 35px;

        li {
            line-height: 1.6;
        }
    }

    pre {
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        background-color: #f6f8fa;
        border-radius: 3px;
        margin: 0;
        word-break: normal;
        word-wrap: normal;

        code {
            color: #34495e;
            padding: 0;
            margin: 0;
        }
    }

    blockquote {
        margin: 2em 0;
        padding-left: 15px;
        border-left: 4px solid $theme-color;
    }

    a {
        color: $theme-color;
        word-break: break-all;
    }

    a:hover {
        border-bottom: 1px solid $theme-color;
    }

    code {
        margin: 0 4px;
        padding: 2px 5px;
        color: #e96900;
        border-radius: 2px;
        white-space: inherit;
        font-size: 0.8em;
        background-color: #f8f8f8;
        font-family: 'Roboto Mono', Monaco, courier, monospace;
    }

    center {
        margin-bottom: 15px;
        font-size: 12px;
    }
}

@media screen and (max-width: $small-screen-width) {
    .markdown {
        padding: 0 20px;

        h2 {
            left: 15px;
        }
    }
}