@import '../../scss/vars.scss';

.header { 
    padding: 20px; overflow: hidden;

    &-gohome {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 100px;
        height: 130px;
    }

    &-logo { 
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        color: #42b983;
        line-height: 100px;
        font-weight: 400;
        font-size: 55px;
        border-radius: 5px;
        text-align: center;
        margin: 15px auto;
        transform-origin: 38% 38%;
        background-color: #34495e;
        opacity: 0.9;

        &.logo1 {
            z-index: 3;
        }

        &.logo2 {
            z-index: 2;
            animation: header-logo2 1s .5s forwards;
        }

        &.logo3 {
            z-index: 1;
            animation: header-logo3 1s .5s forwards;
        }
    }

    &-nav { 
        float: none; 
        font-size: 16px; 
        margin-top: 15px;

        &-list { text-align: center; }
        &-item { 
            padding: 25px; display: inline-block; text-align: center; 
            a { height: 1.2em; cursor: pointer; display: inline-block; border-bottom: 2px solid transparent; transform: scale(0.9); transition: transform .3s; }
            a.select, a:hover { display: inline-block; border-bottom: 2px solid $theme-color; transform: scale(1.2); transition: transform .3s; }
        }
    }
}

@media screen and (max-width: $small-screen-width) {
    .header { 
        padding: 20px 20px 0; 
        &-nav { float: none; }
        &-logo { float: none;  }
        &-gohome { display: block; text-align: center; }
    }
} 

@-webkit-keyframes run { 
	0% {
       	background-position:0;
    }
	20% {
       background-position:-90px 0;
    }
	40% {
       background-position:-180px 0;
    }
	60% {
       background-position:-270px 0;
    }
	80% {
       background-position:-360px 0;
    }
	100% {
       background-position:-450px 0;
    }
}

@keyframes header-logo2
{
	from { opacity: 0.9; transform: rotate(0deg); }
	to { opacity: 0.7; transform: rotate(7deg); }
}

@keyframes header-logo3
{
	from { opacity: 0.9; transform: rotate(0deg); }
	to { opacity: 0.5; transform: rotate(14deg); }
}