@import '../../scss/vars.scss';

.footer {
    color: #aaa;
    font-size: 14px;
    line-height: 1.6em;
    text-align: center;
    margin: 5vw 0;
    padding: 14px 0;
    @include border-1px(top, #ddd);
}