.article {
    &-intro { 
        padding: 10px 0; position: relative; 
        &:after { content: ""; position: absolute; left: 0; right: 0; bottom: 0; display: block; overflow: hidden; border-bottom: 1px solid #ddd; transform-origin: 0 0; transform: scale(1, .5); }
        &:last-child:after { border-bottom: 0; }
    }
    
    &-title { 
        margin: 20px 0; 
        a { cursor: pointer; padding: 2px 0; }
        a:hover { border-bottom: 2px solid #42b983; }
    }
    
    &-from { color: #7f8c8d; margin: 20px 0; font-size: 14px; padding-left: 10px; border-left: 4px solid #42b983; }
    &-p { font-size: 15px; margin:30px 0; line-height: 1.6; }
}

@media screen and (max-width: 700px) {
    .article {
        &-intro { padding: 10px; }
        &-title { font-size: 16px; margin: 10px 0; }
        &-from { font-size: 12px; margin: 10px 0; }
        &-p { font-size: 12px; margin: 15px 0; }
    }
} 